<!DOCTYPE html>


<div class="container">
  <h1>Welcome to Chantalhub</h1>
<div class="screen">
  <form action="/" method="post">
    <input type="text" name='username' placeholder="GitHub Username">
    <input type="text" name='repo_input' placeholder="Repo Name">
    <br>
    <input type="submit" value="Search">
  </form>
</div>
</div>