<!DOCTYPE html>


<div class="container">
  <h1>Welcome to Chantalhub</h1>
<div class="screen">
  <form action="/results" method="post">
    <input type="text" name="user" placeholder="GitHub Username">
    <br>
    <input type="submit" value="Search">
  </form>
</div>
</div>