<!DOCTYPE html>
<div class="container">
  <h1>ChantalHub</h1>

<div class="screen">
<h2>All of Your Repositories</h2>
  <% @repos.each do |repo| %>
    <p><%= repo.name %></p>
    <%end%>
<br>
    </div>
    </div>
</html>